.project {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-grey-800);
  text-align: center;
}

.project a {
  color: var(--color-grey-100);
}

.image {
  position: relative; /* Ensures Image fills the container */
  width: 420px; /* Fixed width */
  height: 200px; /* Fixed height */
  overflow: hidden;
}

.image > span {
  position: absolute; /* Ensures Image component fills fully */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content time {
  font-style: italic;
  color: var(--color-grey-300);
}

.content p {
  line-height: var(--size-6);
}
